#orders {
  text-align: center;
  padding: 25px;
  background: #eeeeee;
  border-radius: 15px;
  width: 50%;
  @media (max-width: 1023px) {
    width: 100%;
  }
  margin: auto;

  color: #4c4c4c;

  h1 {
    color: inherit;
    text-decoration: underline;
  }

  //Style commande
  #commands {
    article {
      width: 70%;
      text-align: left;
      padding: 25px 15px 15px 15px;
      border: 1px solid #939393;
      border-radius: 15px;
      margin: 10px auto auto auto;
      color: #8c9ba5;

      //N° commande
      h2 {
        font-size: 1.1rem;
      }

      //Liste des produits
      ul {
        margin-top: 15px;
        list-style: none;
      }

      //Montant commande
      p {
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }

  //Prix total
  p {
    margin-top: 25px;
    font-size: 2rem;
    font-weight: bold;
  }
}