#hero {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  margin-top: 25px;

  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /*Cache le 30% d'image qui dépasse*/

  //Mobiles
  @media (max-width: 1534px) {
    border-radius: 0;
  }

  //Dégradé marron
  &:after {
    content: '';

    border-radius: inherit;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(90deg, #37241f 30%, transparent);
  }

  /*Image de fond*/
  &:before {
    content: '';

    border-radius: inherit;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(20%); /*On déplace de la largeur de l'overlay marron*/

    background-size: cover;

    //noinspection CssUnknownTarget
    background: #000;
  }

  /*Texte*/
  h1 {
    z-index: 5;
    margin-left: 50px;

    font-family: serif;
    opacity: 1;
  }
}

/*Différents background selon le type*/
#hero.furniture::before {
  //noinspection CssUnknownTarget
  background: url('../../assets/img/furnitures.jpg') no-repeat center;
}

#hero.teddies::before {
  //noinspection CssUnknownTarget
  background: url('../../assets/img/teddies.jpg') no-repeat center;
}

#hero.cameras::before {
  //noinspection CssUnknownTarget
  background: url('../../assets/img/cameras.jpg') no-repeat center;
}