nav {
  height: 70px;
  padding: 25px 0 25px 0;
  margin: 25px 0 25px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;

  .brand img {
    max-height: 68px;
  }

  //Lien icônes
  .icon-link {
    display: inline-block;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    &:hover {
      border-color: #f35627;
    }

    svg {
      height: 100%;
      stroke-width: 1px;
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      width: fit-content;
      height: 20px;
      padding: 0 7px 0 7px;
      background-color: purple;
      color: #fff;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }
  }
}

//Style de la barre de liens (mobiliers,teddies,cameras)
nav.subnav {
  width: 500px;
  height: 40px;
  padding: 5px 0 5px 0;
  margin: 0 auto 0 auto;
}