#product {
  margin-top: 4rem;

  display: flex;
  flex-direction: row;
  @media(max-width: 1023px) {
    flex-direction: column;
    padding: 1rem;
    //margin: 2rem;
    border: none;
  }

  border: 1px solid grey;
  border-radius: 15px;


  img {
    width: 50%;
    height: 550px;

    @media(max-width: 1023px) {
      min-width: 100%;
      height: 400px;
      border-radius: inherit;
    }

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    object-fit: cover;
  }

  /*Textes a droite*/
  figcaption {
    padding: 0 2rem 0 2rem;
    color: black;
    width: 100%;

    .top {
      padding: 2rem 0 2rem 0;
      border-bottom: 1px solid grey;

      h2 {
        font-size: 2.8rem;
        line-height: 2.8rem;
      }

      span {
        margin-top: .75rem;
        color: black;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .bottom {
      margin-top: 2rem;
      width: 100%;

      p, span, label {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }

      .availability {
        display: flex;
        font-weight: bold;

        span {
          color: green;
          margin-left: 0.75rem;
        }
      }

      .description {
        margin-top: 1.5rem;
        max-width: 500px;
        line-height: 1.75rem;
        @media(max-width: 1023px) {
          max-width: 100%;
        }
      }


      form {
        margin-top: 3rem;

        label {
          width: 20%;
        }

        .choice, .quantity {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
        }

        //Select et input
        .choice select, .quantity input {
          // Reset appearance
          appearance: none;

          background-color: white;
          border: 1px solid grey;
          border-radius: 5px;
          padding: 0.5em;
          margin: 0;
          width: 100%;
        }


        button {
          width: 215px;
          margin: 2rem auto 2rem auto;
          padding: 0.5rem;

          display: block;
          cursor: pointer;
          background-color: transparent;

          border: 2px solid #986301;
          border-radius: 5px;
          font-size: 1.5rem;
          color: #986301;

          &:hover {
            background: #986301;
            color: white;
          }
        }
      }
    }
  }
}