#products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  //Mobiles
  @media (max-width: 1023px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  gap: 2.5rem;

  margin-top: 2.5rem;

  h2 {
    grid-column: span 2;
    //Mobiles
    @media (max-width: 1023px) {
      grid-column: span 1;
    }

    color: #000;
    margin: auto; /*Centré*/
  }

  figure {
    width: 100%;
    height: 265px;

    position: relative;

    display: flex;
    border-radius: 15px;
    border: 2px solid rgb(236, 236, 236);
    //Mobiles
    @media (max-width: 1023px) {
      margin: 0 20px 0 20px;
      width: calc(100% - 40px);
    }

    img {
      width: 45%;
      height: 100%;
      object-fit: cover;

      position: relative;

      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    /*Textes descriptifs de l'annonce*/
    figcaption {
      padding: 25px;

      border-bottom-right-radius: inherit;
      border-top-right-radius: inherit;

      /*Transition apparition*/
      transition: all 0.3s;

      .head {
        span {
          margin-top: 0.2rem;

          color: #000;
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-weight: bold;
        }
      }

      .foot {
        span {
          margin-top: 1rem;

          color: rgb(49, 198, 67); /*Light Green*/
          font-weight: bold;
        }

        p {
          margin-top: .5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/*Overlay actions*/
#products figure {
  .actions {
    /*Se place au dessus de l'image*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - 45%); /*45% de l'image*/
    z-index: 3;

    /*Invisible par défaut*/
    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    /*Transition apparition*/
    transition: all 0.3s;

    &:before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      opacity: 0.6;

      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;

      background: #000;

    }

    /*Bouton*/
    a {
      z-index: 10;
      width: 64px;
      height: 64px;

      border-radius: 50%; //Crée un rond
      padding: 15px;

      color: #000;
      background: #fff;

      svg {
        height: 100%;
        width: 100%;
      }

    }
  }

  /*Au survol de la figure*/
  &:hover, &:focus {
    .actions {
      visibility: visible;
      opacity: 1;
    }

    //Ajout ombrage
    figcaption {
      box-shadow: 5px 0 29px 0 rgba(0, 0, 0, 0.3);
    }
  }
}