#shopping-cart {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    flex-direction: column;
  }

  h1 {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    color: rgb(75, 75, 75);
    text-align: center;
  }

  div.products-list {
    width: 50%;
    @media (max-width: 1023px) {
      width: 100%;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      //En-tête
      thead {
        tr {
          border-bottom: 1px solid rgb(200, 200, 200);
          color: #000;
          text-transform: uppercase;

          th {
            padding: 15px 15px 5px 15px;
            text-align: left;
            font-weight: lighter;

          }
        }
      }

      //Vue liste
      tbody tr {
        border-bottom: 1px solid rgb(220, 220, 220);

        td {
          font-size: 1.1rem;
          color: #000;
          padding: 15px;


          //Particularité nom+image
          &:nth-child(2) {
            display: flex;
            align-items: center;

            p {
              margin-left: 2rem;
            }
          }

          //Bouton suppression
          button {
            display: inline-block;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            text-align: center;
            width: 100%;
            color: rgb(210, 210, 210);

            &:hover {
              color: rgb(150, 150, 150);
            }

            svg {
              margin-top: 5px; /*Ajustement position*/
              height: 1.5rem;
            }
          }

          //Input nombre
          input[type="number"] {
            background: transparent;
            border: none;
            width: 75px;
            height: 50px;

            font-size: inherit;

            &::-webkit-inner-spin-button {
              width: 3rem;
              height: 3rem;
              opacity: 1; //Show arrow by default
            }
          }

          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
          }
        }
      }
    }

  }

  div.checkout {
    display: flex;
    width: 50%;
    @media (max-width: 1023px) {
      width: 100%;
    }
    place-content: center;
    padding: 15px 0 0 100px;

    /*Formulaire de commande*/
    form {
      width: 100%;

      div.form-group {
        display: flex;
        padding: 5px 0 5px 0;
        align-items: center;

        label {
          width: 100px;
          font-size: 1.15rem;
          font-weight: bold;
          color: #2d1b14;
        }

        input {
          display: block;
          padding: 0.75rem;
          width: 45%;
        }

        span {
          display: block;
          padding-left: 10px;
          color: #bf330a;
        }

      }

      button {
        display: block;
        padding: 0.75rem;
        background: #800080;
        text-align: center;
        width: 50%;
        color: white;
        border-radius: 10px;
        border: 0;
        margin: 15px auto auto auto;
        font-size: 1.1rem;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background: #7b007b;
        }
      }
    }
  }
}