@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f6f6f6;
  font-family: 'Nunito', sans-serif;
  color: rgb(140, 155, 165);
}

body {
  max-width: 1535px;
  margin: auto;
}

//Reset default links style
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 2rem;
}

span, p {
  display: inline-block;
}

//Only in screen-reader
.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}